# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment / Secrets
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Large OSM Data
# =========================
osm_data/*.osm.pbf

# =========================
# Raw Satellite Data
# =========================
RAW DATA/

# =========================
# Generated Processed Data
# =========================
processed/*.csv
processed/*.joblib
processed/*.pkl

# =========================
# Model Files
# =========================
models/*.joblib
models/*.pkl
models/*.pickle

# =========================
# Python Cache
# =========================
*.pyc
.pytest_cache/

# =========================
# Temporary
# =========================
*.log
*.tmp
*.temp
